{{template "header" .}}

# Example

```
resource "cdap_streaming_program_run" "example" {
  namespace = "staging"
  type      = "spark"
  app       = "HL7v2_to_fhir"

  runtime_arguments = {
    "system.profile.name" = "hl7-stream-ingest"
  }
}
```

{{template "schema" .}}
