{{template "header" .}}

# Example

```
resource "cdap_streaming_program_run" "test" {
  namespace = "adp_staging"
  app       = "HL7v2_to_fhir"

  runtime_arguments = {
    "system.profile.name" = "adp-aintegration-hl7-stream-ingest-us-central1-n"
  }
}
```
The `system.profile.name` is a special macro we use to specify the compute profile name to use
for this program run.

{{template "schema" .}}
