{{template "header" .}}

# Example

```
resource "cdap_streaming_program_run" "test" {
  namespace = "adp_staging"
  app       = "HL7v2_to_fhir"

  runtime_arguments = {
    "system.profile.name" = "my-custom-profile-name"
  }
}
```

{{template "schema" .}}
