{{template "header" -}}

The CDAP provider is used to configure your
[CDAP](https://docs.cask.co/cdap/develop/en/index.html) infrastructure.

## Installation

-  Download the provider binary from the
   [releases page](https://github.com/GoogleCloudPlatform/terraform-provider-cdap/releases)
   page.

-  Rename the binary to match the
  [pattern](https://www.terraform.io/docs/configuration/providers.html#plugin-names-and-versions)
  `terraform-provider-cdap-vX.Y.Z`).

-  Run `chmod u+x ./terraform-provider-cdap-vX.Y.Z` to make the binary
   executable.

-  Move the binary to a location your Terraform configs can
   [find it](https://www.terraform.io/docs/configuration/providers.html#third-party-plugins).

## Usage

An example of the CDAP provider initialized on a GCP Cloud Data Fusion instance:

```
resource "google_data_fusion_instance" "instance" {
  provider = google-beta
  name     = "example"
  region   = "us-central1"
  type     = "BASIC"
  project  = "example-project"
}

data "google_client_config" "current" {}

provider "cdap" {
  host  = "${google_data_fusion_instance.instance.service_endpoint}/api/"
  token = data.google_client_config.current.access_token
}
```

{{template "schema" .}}

## Resources

{{range $r, $m := .ResourcesMap -}}
* [{{$r}}](r/{{$r}}.md)
{{end -}}
